# Lecture Notebook: Modeling Data and Knowledge

## Making Choices about Data Representation and Processing using LinkedIn 
This module explores concepts in:

* Designing data representations to capture important relationships
* Reasoning over graphs
* Exploring and traversing graphs


It sets the stage for a deeper understanding of issues related to performance, and cloud/cluster-compute data processing.



We'll use MongoDB on the cloud as a sample NoSQL database

In [1]:
!pip install pymongo[tls,srv]
!pip install lxml
!pip install matplotlib
!pip install pandas
!pip install numpy

Requirement already satisfied: pymongo[srv,tls] in /usr/local/lib/python3.7/dist-packages (3.12.0)
Collecting dnspython<2.0.0,>=1.16.0
  Downloading dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
     |████████████████████████████████| 188 kB 8.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [4]:
import pandas as pd
import numpy as np

# JSON parsing
import json

import urllib.request

# SQLite RDBMS
import sqlite3

# Time conversions
import time

# NoSQL DB
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError, OperationFailure

import zipfile
import os

# HTML parsing
from lxml import etree

## Our Example Dataset

The example dataset is a crawl of LinkedIn, stored as a sequence of JSON objects (one per line).  

**Notice:** You need to correctly load the data before successfully running this notebook. The solution would be using an url to visit the data, or to open/mount the data locally. See **instructor notes** or **README** for detail. 

**Note:** When using url to visit the data in the below, substitute the location of this dataset in X (see Instructor Notes). The urllib.request will place the result in a file called 'local.zip'. Otherwise, when opening a data mounted/located in the local directory, use open() function instead.

In [5]:
url = 'https://github.com/odpi/OpenDS4All/raw/master/assets/data/test_data_10000.zip'
filehandle, _ = urllib.request.urlretrieve(url,filename='local.zip')

In [6]:
def fetch_file(fname):
    zip_file_object = zipfile.ZipFile(filehandle, 'r')
    for file in zip_file_object.namelist():
        file = zip_file_object.open(file)
        if file.name == fname: return file
    return None
    
linked_in = fetch_file('test_data_10000.json')

In [7]:
%%time
# 10K records from linkedin
# if use url to visit zipped data, then use 'fetch_file' object. 
# linked_in = fetch_file('linkedin_small.json')
# If visit data locally, if using Colab or local machine. 
people = []

for line in linked_in:
    # print(line)
    person = json.loads(line)
    people.append(person)
    
people_df = pd.DataFrame(people)
print ("%d records"%len(people_df))

people_df

10000 records
CPU times: user 2.17 s, sys: 173 ms, total: 2.34 s
Wall time: 2.35 s

## NoSQL storage

For this part you need to access MongoDB (see the Instructor Notes).  One option is to sign up at:

https://www.mongodb.com/cloud

Click on "Get started", sign up, agree to terms of service, and create a new cluster on AWS free tier (Northern Virginia).  Use this location as 'Y' in the client creation below.

Eventually you'll need to tell MongoDB to add your IP address (so you can talk to the machine) and you'll need to create a database called 'linkedin'.

In [ ]:
# Store in MongoDB some number of records (here limit=10k) and in an in-memory list

START = 0
LIMIT = 10000

# TODO: you need to replace "Y" with the URL corresponding to your
# remote MongoDB cloud instance
client = MongoClient('mongodb+srv://Y')

linkedin_db = client['linkedin']

# Build a list of the JSON elements
list_for_comparison = []

people = 0
for line in linked_in:
    person = json.loads(line)
    if people >= START:
        try:
            list_for_comparison.append(person)
            linkedin_db.posts.insert_one(person)
        except DuplicateKeyError:
            pass
        except OperationFailure:
            # If the above still uses our cluster, you'll get this error in
            # attempting to write to our MongoDB client
            pass
    people = people + 1
    # if(people % 1000 == 0): 
    #   print (people)
    if people > LIMIT:
        break

In [ ]:
# Two ways of looking up skills, one based on an in-memory
# list, one based on MongoDB queries

def find_skills_in_list(skill):
    for post in list_for_comparison:
        if 'skills' in post:
            skills = post['skills']
            for this_skill in skills:
                if this_skill == skill:
                    return post
    return None

def find_skills_in_mongodb(skill):
    return linkedin_db.posts.find_one({'skills': skill})

In [ ]:
%%time
find_skills_in_list('Marketing')

CPU times: user 23 ms, sys: 0 ns, total: 23 ms
Wall time: 23.2 ms

In [ ]:
%%time
find_skills_in_mongodb('Marketing')

CPU times: user 2.39 ms, sys: 45 µs, total: 2.43 ms
Wall time: 64.9 ms

{'_id': 'in-01011985',
 'also_view': [{'id': 'pub-murli-shukla-13-b68-27a',
   'url': 'http://in.linkedin.com/pub/murli-shukla/13/b68/27a'},
  {'id': 'pub-sumeet-mehta-20-18-736',
   'url': 'http://in.linkedin.com/pub/sumeet-mehta/20/18/736'},
  {'id': 'pub-killol-bhatt-5-2ab-96',
   'url': 'http://ke.linkedin.com/pub/killol-bhatt/5/2ab/96'},
  {'id': 'pub-vijay-javiya-16-239-70b',
   'url': 'http://in.linkedin.com/pub/vijay-javiya/16/239/70b'},
  {'id': 'in-skdash1969', 'url': 'http://in.linkedin.com/in/skdash1969'},
  {'id': 'in-umarshervani', 'url': 'http://in.linkedin.com/in/umarshervani'},
  {'id': 'in-mehtanilesh', 'url': 'http://in.linkedin.com/in/mehtanilesh'},
  {'id': 'pub-amit-dwivedi-a-3a3-968',
   'url': 'http://in.linkedin.com/pub/amit-dwivedi/a/3a3/968'},
  {'id': 'pub-pritesh-patel-12-604-a23',
   'url': 'http://in.linkedin.com/pub/pritesh-patel/12/604/a23'},
  {'id': 'pub-moumita-chakraborty-13-538-52',
   'url': 'http://in.linkedin.com/pub/moumita-chakraborty/13/538/52'}],
 'education': [{'degree': 'M.Pharmacy',
   'desc': '',
   'end': '2004',
   'major': 'Quality Assurance Management',
   'name': 'Annamalai University',
   'start': '2002'},
  {'degree': 'PONDICHERRY UNIVERSITY, SCHOOL OF MANAGEMENT',
   'desc': '',
   'end': '2004',
   'name': 'M.B.A',
   'start': '2002'},
  {'desc': '', 'name': 'PONDICHERRY UNIVERSITY, SCHOOL OF MANAGEMENT'}],
 'events': [],
 'experience': [{'end': 'Present',
   'org': 'BioGenex',
   'start': 'September 2012',
   'title': 'Senior Manager -IBD'}],
 'group': {'affilition': ['Annamalai University Alumni',
   'Annamalai University Pharmacy Alumni',
   'Asia-Pacific Pharmaceutical Industry Professionals',
   'Colombia Networking (10,000+)',
   'EXCLUSIVE BUSINESS GLOBAL PHARMA CLUB',
   'Emerging Markets Information Service (EMIS) - ISI Emerging Markets',
   'Executive Search Saudi Arabia',
   'Generic Pharma',
   'HAITI CONNECTION',
   'In & Out Licensing Managers at Pharmaceuticals',
   'International Business Development Leaders',
   'Job Openings, Job Leads and Job Connections!',
   'LATAM Business',
   'Laos Professionals',
   'National Society for Histotechnology',
   'Net Pharma Latin America and Caribbean',
   'Nutritional supplements and Herbal extracts Mktg Group',
   'Papua New Guinea professionals',
   'PharmAsia',
   'Pharma BD Professionals',
   'Pharma Connections Worldwide',
   'Pharmaceutical Import Export ROW Market',
   'Pharmaceutical Jobs Biotech Life Sciences & Medical Devices',
   'Positive Thoughts',
   'Professional Healthcare Marketers',
   'Quality-by-Design',
   'Rx&D - Biopharmaceutical, Pharmaceutical and Biotechnology Research and Development',
   'Six Sigma for Business',
   'TURKISH BUSINESS NETWORK',
   'iSixSigma Network']},
 'industry': 'Biotechnology',
 'interval': 0,
 'locality': 'Hyderabad Area, India',
 'name': {'family_name': 'Subramanian', 'given_name': 'Lakshman'},
 'skills': ['Microbiology',
  'Vaccines',
  'International Sales',
  'Market Intelligence',
  'International Business Development',
  'Microsoft Excel',
  'Strategic Thinking',
  'Strategy',
  'PowerPoint',
  'Market Access',
  'Immunohistochemistry',
  'Marketing',
  'Operations Management',
  'Business Development',
  'Pharmaceutical Industry',
  'Six Sigma',
  'DMAIC',
  'Green Belt'],
 'specilities': 'Marketing , Operations Management , P&L Head, Business Development.',
 'summary': '•Having 12 Yrs of Experience in Marketing & International Business Development in Pharmaceutical sector.•Experienced in managing operations in large business area, formulating and implementing strategies, developing new markets for business excellence.•Adept at developing the distribution network infrastructure and channel management.•Proven track record acquiring product registrations for several products in ASEAN Region.•An effective communicator with abilities in implementing various sales promotional activities and escalating business turnovers during carrier span.•Excellent logical, Analytical skills and an articulate with very good communication skills.•In the total experience profile, managed and achieved targets in the segments of Cardiovascular, Respiratory care, Antibiotics, Multivitamins,Neutracuticals and wide range OTC products.•Traveled extensively in the above mentioned countries to explore the markets and taken in-depth market survey to identify the distributor with a good margin which is profitable for the company.•Wide experience across emerging markets of Asia, Latam countries . From business start ups to sustainable business with adaptability to different cultures and markets, successfully led change management.•Experience in business feasibility, business planning, entry strategy, right product selection and portfolio development.•Set up overseas office with minimum guidance, operations management, problem solving, crisis management.•5 years overseas stay and travel to different countries gave a very good exposure and confidence to do business and deal people overseas.•Product identification,ideation, launch plan, successful launches and making Mega Brands, Portfolio Management, KoL identification, CRM, Key Account Management.•Exposure to many segments of pharmaceutical business, Passion for International Marketing, Business Development.Achieved targets with innovative idea',
 'url': 'http://in.linkedin.com/in/01011985'}

## Designing a relational schema from hierarchical data

Given that we already have a predefined set of fields / attributes / features, we don't need to spend a lot of time defining our table *schemas*, except that we need to unnest data.

* Nested relationships can be captured by creating a second table, which has a **foreign key** pointing to the identifier (key) for the main (parent) table.
* Ordered lists can be captured by encoding an index number or row number.

In [ ]:
'''
Simple code to pull out data from JSON and load into sqllite
'''
# linked_in = urllib.request.urlopen('X')
# linked_in = fetch_file('linkedin_small.json')
linked_in = open('/content/drive/My Drive/Colab Notebooks/test_data_10000.json')

START = 0
LIMIT = 10000 # Limit the max number of records to be 10K. 

def get_df(rel):
    ret = pd.DataFrame(rel).fillna('')
    for k in ret.keys():
        ret[k] = ret[k].astype(str)
    return ret

def extract_relation(rel, name):
    '''
    Pull out a nested list that has a key, and return it as a list
    of dictionaries suitable for treating as a relation / dataframe
    '''
    # We'll return a list
    ret  = []
    if name in rel:
        ret2 = rel.pop(name)
        try:
            # Try to parse the string as a dictionary
            ret2 = json.loads(ret2.replace('\'','\"'))
        except:
            # If we get an error in parsing, we'll leave as a string
            pass
        
        # If it's a dictionary, add it to our return results after
        # adding a key to the parent
        if isinstance(ret2, dict):
            item = ret2
            item['person'] = rel['_id']
            ret.append(item)
        else:
            # If it's a list, iterate over each item
            index = 0
            for r in ret2:
                item = r
                if not isinstance(item, dict):
                    item = {'person': rel['_id'], 'value': item}
                else:
                    item['person'] = rel['_id']
                    
                # A fix to a typo in the data
                if 'affilition' in item:
                    item['affiliation'] = item.pop('affilition')
                    
                item['pos'] = index
                index = index + 1
                ret.append(item)
    return ret
    

names = []
people = []
groups = []
education = []
skills = []
experience = []
honors = []
also_view = []
events = []


conn = sqlite3.connect('linkedin.db')

lines = []
i = 1
for line in linked_in:
    if i > START + LIMIT:
        break
    elif i >= START:
        person = json.loads(line)

        # By inspection, all of these are nested dictionary or list content
        nam = extract_relation(person, 'name')
        edu = extract_relation(person, 'education')
        grp = extract_relation(person, 'group')
        skl = extract_relation(person, 'skills')
        exp  = extract_relation(person, 'experience')
        hon = extract_relation(person, 'honors')
        als = extract_relation(person, 'also_view')
        eve = extract_relation(person, 'events')
        
        # This doesn't seem relevant and it's the only
        # non-string field that's sometimes null
        if 'interval' in person:
            person.pop('interval')
        
        lines.append(person)
        names = names + nam
        education = education + edu
        groups  = groups + grp
        skills = skills + skl
        experience = experience + exp
        honors = honors + hon
        also_view = also_view + als
        events = events + eve
        
    i = i + 1

people_df = get_df(pd.DataFrame(lines))
names_df = get_df(pd.DataFrame(names))
education_df = get_df(pd.DataFrame(education))
groups_df = get_df(pd.DataFrame(groups))
skills_df = get_df(pd.DataFrame(skills))
experience_df = get_df(pd.DataFrame(experience))
honors_df = get_df(pd.DataFrame(honors))
also_view_df = get_df(pd.DataFrame(also_view))
events_df = get_df(pd.DataFrame(events))

In [ ]:
people_df

                          locality  ...                                           homepage
0                Eskisehir, Turkey  ...
1             York, United Kingdom  ...
2           Greater Nashville Area  ...    {'Personal Website': ['http://www.davare.net']}
3          Madison, Wisconsin Area  ...  {'Blog': ['http://www.DataApprentice.com'], 'C...
4         Santa Monica, California  ...
...                            ...  ...                                                ...
9995                       Estonia  ...  {'Old stuff - Bing Music': ['http://www.bing.c...
9996                    Seychelles  ...  {'Personal Website': ['http://bristol.academia...
9997  Bakersfield, California Area  ...  {'Blog': ['http://blog.adelahmed.com'], 'Perso...
9998        Greater San Diego Area  ...  {'Instagram': ['http://instagram.com/ajaysampa...
9999       London, Ontario, Canada  ...  {'Blog': ['http://singy.posterous.com'], 'Twit...

[10000 rows x 9 columns]

In [ ]:
# Save these to the SQLite database

people_df.to_sql('people', conn, if_exists='replace', index=False)
names_df.to_sql('names', conn, if_exists='replace', index=False)
education_df.to_sql('education', conn, if_exists='replace', index=False)
groups_df.to_sql('groups', conn, if_exists='replace', index=False)
skills_df.to_sql('skills', conn, if_exists='replace', index=False)
experience_df.to_sql('experience', conn, if_exists='replace', index=False)
honors_df.to_sql('honors', conn, if_exists='replace', index=False)
also_view_df.to_sql('also_view', conn, if_exists='replace', index=False)
events_df.to_sql('events', conn, if_exists='replace', index=False)

In [ ]:
groups_df

                                             affilition  ...                    member
0     ['Entertainment Ticketing Professionals', 'La ...  ...
1     ["Denim People's Group", 'Official FIDM Alumni...  ...
2     ['BRASIL: VAGAS EXECUTIVAS', 'Best Practices i...  ...
3     ['A&I - Accoglienza e Integrazione', 'AIDP Ass...  ...
4     ['AngloINFO Luxembourg', 'Atlas Consulting SA'...  ...  Luxembourg Testing Board
...                                                 ...  ...                       ...
6331  ['ADR Abruzzo-Vasto', 'ADR MEDIAZIONE E CONCIL...  ...
6332  ['UST Class of 2010', 'University of St. Thoma...  ...
6333  ['CISCO', 'CISCO CERTIFICATIONS', 'CISCO CERTI...  ...   NJHIMSS, DVHIMSS, HIMSS
6334  ['Account Manager Group', 'Alumni Universidad ...  ...
6335  ['Amazon Associates', 'Cloud Computing, SaaS &...  ...

[6336 rows x 3 columns]

In [ ]:
pd.read_sql_query('select _id, org from people join experience on _id=person', conn)

                                     _id                                   org
0         ichsrrdhpxlojntrimsvrbzexeeyi0                           AstraZeneca
1         ichsrrdhpxlojntrimsvrbzexeeyi0                         Barclays Bank
2         ichsrrdhpxlojntrimsvrbzexeeyi0                        Enterprise Plc
3         ichsrrdhpxlojntrimsvrbzexeeyi0                      The Stroll Group
4         ichsrrdhpxlojntrimsvrbzexeeyi0                                   UBS
...                                  ...                                   ...
46060  fbignswrwlvuqlpuyscrxwwntbroh9998                      HCL Technologies
46061  fbignswrwlvuqlpuyscrxwwntbroh9998                 Skilrock Technologies
46062  rtsrqeqecuidakdpkdaxjbyokgiae9999                               Brocade
46063  rtsrqeqecuidakdpkdaxjbyokgiae9999                               Calsoft
46064  rtsrqeqecuidakdpkdaxjbyokgiae9999  Quantum Software Pvt Ltd, Hyderabad.

[46065 rows x 2 columns]

In [ ]:
pd.read_sql_query("select _id, group_concat(org) as experience " +\
                  " from people left join experience on _id=person group by _id", conn)

                                    _id                                         experience
0     aaalwqmfowcfucbvaxjkoikrlpcvc5074       L&T Infotech,Tenth Planet,XLabz Technologies
1     aacellsxfgzptvksqjoytpyphqjkl8187              Partners for Marketing,SECO Financial
2     aacvsrpfbzooiadlyewesddlwqpzl8612           Ben's Heart Foundation,eCarList,txGarage
3     aaczxilpkjoqfzmqlwipsupmblxoy3406   K2 Partnering Solutions,Pizza express,SThree plc
4     aadphcbqlygoozpuurwodjzsuywgk5685                                           Deloitte
...                                 ...                                                ...
9995  zzgyiojcowmmdqomjhimanonuvtjn2363  Euro RSCG,Euro RSCG 4D Digital / Portland,Hawt...
9996  zzmaecuuosawidnbuqadgiauceurc6319  ARCADIS,Eclipsys,P. Almeida Distrib.,Ronin, LL...
9997   zztglyvgdgaymjjthfpqmatxxdgtr955  Mahle Stuttgart,Performance Training & Consult...
9998  zzwbyiurtdyynjfdahchbjzysrybh7122  Guadalupe Center of Immokalee,NOISE, Inc.,Pepp...
9999  zzxqixarkllniubulzmyiawjjxuek1942  AD Web Studio,ASS.FOR. VENETO,Attiva Spa - Gru...

[10000 rows x 2 columns]

## Views

Since we may want to see all the experiences of a person in one place rather than in separate rows, we will create a view in which they are listed as a string (column named experience).  The following code creates this view within the context of a transaction (the code between "begin" and "commit" or "rollback"). If the view already exists, it removes it and creates a new one.

In [ ]:
conn.execute('begin transaction')
conn.execute('drop view if exists people_experience')
conn.execute("create view people_experience as select _id, group_concat(org) as experience " +\
                  " from people left join experience on _id=person group by _id")
conn.execute('commit')

# Treat the view as a table, see what's there
pd.read_sql_query('select * from people_experience', conn)

                                    _id                                         experience
0     aaalwqmfowcfucbvaxjkoikrlpcvc5074       L&T Infotech,Tenth Planet,XLabz Technologies
1     aacellsxfgzptvksqjoytpyphqjkl8187              Partners for Marketing,SECO Financial
2     aacvsrpfbzooiadlyewesddlwqpzl8612           Ben's Heart Foundation,eCarList,txGarage
3     aaczxilpkjoqfzmqlwipsupmblxoy3406   K2 Partnering Solutions,Pizza express,SThree plc
4     aadphcbqlygoozpuurwodjzsuywgk5685                                           Deloitte
...                                 ...                                                ...
9995  zzgyiojcowmmdqomjhimanonuvtjn2363  Euro RSCG,Euro RSCG 4D Digital / Portland,Hawt...
9996  zzmaecuuosawidnbuqadgiauceurc6319  ARCADIS,Eclipsys,P. Almeida Distrib.,Ronin, LL...
9997   zztglyvgdgaymjjthfpqmatxxdgtr955  Mahle Stuttgart,Performance Training & Consult...
9998  zzwbyiurtdyynjfdahchbjzysrybh7122  Guadalupe Center of Immokalee,NOISE, Inc.,Pepp...
9999  zzxqixarkllniubulzmyiawjjxuek1942  AD Web Studio,ASS.FOR. VENETO,Attiva Spa - Gru...

[10000 rows x 2 columns]